.app {
  --nav-size: 5rem;
  padding-bottom: var(--nav-size);
}

@media (orientation: landscape) {
  .app {
    --nav-size: 5.63rem;
    padding-bottom: unset;
    padding-left: var(--nav-size);
  }
}
