.icon:not(.icon__logo) path {
  stroke: var(--cl-text);
  stroke-width: 1.5;
  fill: none;
}

.icon__logo path {
  fill: var(--cl-text);
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: var(--corner-round);
  appearance: none;
  border: none;
  margin: 0;
  padding: 0;
  background-color: unset;
  cursor: pointer;
  color: var(--cl-text);
}

// visually hide button text in icon button,
// but keep it accessible to assistive tech
.button__label {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
  height: 1px;
}
