@use './app.scss';
@use './masonry.scss';
@use './modal.scss';
@use './photoModal.scss';

:root {
  --cl-back: #2b2b2b;
  background-color: var(--cl-back);
  font-size: 16px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.noscroll {
  overflow: hidden;
}
