.masonry {
  width: 100%;
  display: flex;
  padding: var(--grid-gap);
  position: relative;
}

.masonry__column {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
}

.masonry__column:not(:last-of-type) {
  margin-right: var(--grid-gap);
}

.masonry__column > * {
  margin-bottom: var(--grid-gap);
}
