.masonry {
  width: 100%;
  display: flex;
  --gap: 1rem;
  padding: var(--gap);
  position: relative;
}

.masonry__column {
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
}

.masonry__column:not(:last-of-type) {
  margin-right: var(--gap);
}

.masonry__load {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100vh;
  visibility: hidden;
}

.photo {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.masonry__column > * {
  margin-bottom: var(--gap);
}

.photo__img {
  width: 100%;
  border-radius: var(--corner-round);
  height: auto;
}

.photo__like {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  opacity: 0;
}

.photo:hover .photo__like,
.photo__like[aria-pressed='true'] {
  opacity: 1;
}
