.mainnav {
  position: fixed;
  height: var(--nav-size);
  width: 100vw;
  bottom: 0;
  left: 0;
  background-color: var(--cl-surface);
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1.5rem;
  box-shadow: 0px 0px 2px #0006;
}

.mainnav__pages {
  flex-grow: 1;
  display: flex;
  flex-direction: inherit;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 0.5rem;
}

.mainnav__page {
  list-style: none;
}

.mainnav :is(.mainnav__button, .mainnav__logo) {
  width: 4.13rem;
  height: 4.13rem;
}

.button.mainnav__button > .button__icon {
  width: 1.3rem;
  height: 1.3rem;
}

.button.mainnav__logo > .button__icon {
  width: 1.4rem;
  height: 1.4rem;
}

@media (orientation: landscape) {
  .mainnav {
    width: var(--nav-size);
    height: 100vh;
    flex-direction: column;
    padding: 2rem 0;
  }
}

@media (orientation: portrait) {
  .mainnav > .mainnav__logo {
    position: absolute;
  }
}
