.photo-modal {
  width: 40rem;
  height: max(60vh, 50rem);
  max-height: 80vh;
  max-width: 90vw;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  border-radius: inherit;
  overflow: hidden;
}

.photo-modal__txt-sec {
  flex: 1 1 0px;
  background-color: var(--cl-back);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.photo-modal__img-sec {
  flex: 0 1 content;
  background-color: #2b2b2bee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-modal__photo {
  width: 100%;
  height: auto;
  background-color: var(--color);
}

.photo-modal__photo--vert {
  height: 100%;
  width: auto;
}

.photo-modal__title {
  font-size: 1.13rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 0.8em;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.photo-modal__no-exif {
  font-size: 0.88rem;
  color: var(--cl-text-light);
  margin-top: 0.5em;
  display: block;
}

.photo-modal__actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.user {
  font-weight: 500;
  font-style: unset;
  font-size: 0.88rem;
  display: flex;
  align-items: center;
}

.user__name {
  color: var(--cl-text-light);
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.user__avatar {
  border-radius: 50%;
  width: 1.46rem;
  height: 1.46rem;
  margin-right: 0.6rem;
}

@media (orientation: landscape) {
  .photo-modal {
    flex-direction: row;
    width: unset;
    max-width: 95vw;
    height: 70vmin;
    aspect-ratio: 1.52;
  }

  @supports not (aspect-ratio: 1) {
    .photo-modal {
      width: 106vmin;
    }
  }

  .photo-modal__img-sec {
    flex: 0 1 auto;
    max-width: 50%;
    height: 100%;
  }

  .photo-modal__img-sec--hor {
    width: 100%;
    flex-shrink: 0;
  }

  .photo-modal__txt-sec {
    height: 100%;
  }

  .photo-modal__title {
    font-size: 2rem;
  }

  .user {
    transform-origin: top left;
    transform: scale(1.25);
  }
}

@media (orientation: portrait) {
  .photo-modal__no-exif {
    margin-bottom: 1rem;
  }

  .photo-modal__actions {
    position: absolute;
    --padd: 0.5rem;
    top: var(--padd);
    left: var(--padd);
    width: calc(100% - 2 * var(--padd));
  }

  .photo-modal__img-sec {
    max-height: 45%;
  }
}
